@model UnityComplex.ViewModels.ChangePassVM
@{
    ViewData["Title"] = "ChangePassWord";
}

<section class="banner-area organic-breadcrumb" style="margin-bottom:50px">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Change Password</h1>
            </div>
        </div>
    </div>
</section>
<section class="login_box_area section_gap" style="margin-bottom:30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" style="width:600px; height:530px" src="~/img/login.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div style="padding-top:75px" class="login_form_inner">
                    <h3>ĐỔI MẬT KHẨU</h3>
                    @if (TempData["ChangePassSuccess"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["ChangePassSuccess"]
                        </div>
                    }
                    @if (TempData["ChangePassFail"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ChangePassFail"]
                        </div>
                    }
                    <form class="row login_form" action="@Url.Action("ChangePassword", "Login")" method="post" id="changePasswordForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="hidden" class="form-control" id="idUser" name="idUser" placeholder="User ID" readonly asp-for="@Model.idUser">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="hidden" class="form-control" id="email" name="email" placeholder="Email" readonly asp-for="@Model.Email">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Mật Khẩu Hiện Tại" required>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Mật Khẩu Mới" required>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác Nhận Mật Khẩu Mới" required>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">ĐỔI MẬT KHẨU</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>