@model UnityComplex.ViewModels.OtpVM
@{
    ViewData["Title"] = "VerifyOTP";
	Layout = "_LoginLayout";
}

<section class="banner-area organic-breadcrumb" style="margin-bottom:50px">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Xác nhận OTP</h1>
				<nav class="d-flex align-items-center">
					<a asp-controller="Home" asp-action="Index">Trở về trang chủ<span class="lnr lnr-arrow-right"></span></a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap" style="margin-bottom:30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" style="width:600px; height:530px" src="~/img/newlogin.jpg" alt="">
					<div class="hover">
						<h4>Trở về trang đăng nhập</h4>

						<a class="primary-btn" asp-controller="Login" asp-action="Login">Đăng nhập ngay</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Xác nhận OTP</h3>
					@if (TempData["SendMailSuccessMessage"] != null)
					{
						<div class="alert alert-success">@TempData["SendMailSuccessMessage"]</div>
					}
					@if (TempData["SendOTPSuccessMessage"] != null)
					{
						<div class="alert alert-success">@TempData["SendOTPSuccessMessage"]</div>
					}
					@if (TempData["SendOTPFailMessage"] != null)
					{
						<div class="alert alert-danger">@TempData["SendOTPFailMessage"]</div>
					}
					<form class="row login_form" asp-controller="Login" asp-action="ForgotPassWord" method="post" id="contactForm" novalidate="novalidate">

						<div class="col-md-12 form-group">
							<input class="form-control" asp-for="@Model.OTP" placeholder="Nhập OTP" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập OTP'">
							<span class="text-danger" asp-validation-for="@Model.OTP"></span>
						</div>



						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Xác nhận</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

